html {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: roboto, sans-serif;
}

.topbuttonscontainer{
  display: none;
    position: absolute;
  background: white;
  margin: 0px 0px 0px 0px;
  top: 55px;
 z-index: 2;
}
.buttonstoggle{
  /* display: flex; */
  position: absolute;
  background: white;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 0px;

   z-index: 2;
}

.realmapbutton {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.realmapbutton:active {
    background-color: rgb(100, 100, 100);
}

.mapbutton {
    padding: 4px 4px;
    margin: 4px 4px 4px 4px;
    border: 1px solid #000000;
    background-color: #FFF;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

.mapbutton:active {
    background-color: rgb(0, 0, 0);
    color: #FFF;
}

.mapbutton.inactive {
    color: #999;
    border: 1px solid #999;
}

#map {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    z-index: -1;
}

div.bottomFloat {
    height: auto;
    position: absolute;
    bottom: 26px;
    left: 0px;
    /* right: 50px; */
    right: auto;
    /* border: 3px solid #abad21; */
}

div.scrollmenu {
    height: auto;
    width: auto;
    position: relative;
    overflow: auto;
    white-space: nowrap;
}

a.placecard {
    margin: 0px 0px 0px 4px;
    background-color: #FFF;
    color: #222;
}

.no-close-button-on-info-windows .gm-ui-hover-effect { visibility: hidden; }