html {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: roboto, sans-serif;
}

.topbuttonscontainer{
  display: none;
    position: absolute;
  background: white;
  margin: 0px 0px 0px 0px;
  top: 55px;
 z-index: 2;
}
.buttonstoggle{
  /* display: flex; */
  position: absolute;
  background: white;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 0px;

   z-index: 2;
}

.realmapbutton {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    user-select: none;
}
.realmapbutton:active {
    background-color: rgb(100, 100, 100);
}

.mapbutton {
    padding: 4px 4px;
    margin: 4px 4px 4px 4px;
    border: 1px solid #000;
    background-color: #FFF;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    user-select: none;
}

.mapbutton:active {
    color: #FFF;
    background-color: #555;
}

.mapbutton.enabled {
    color: rgb(0, 0, 0);
    border: 0px solid #F00;
}
.mapbutton.disabled {
    color: #AAA;
    border: 0px solid #F00;
}

#map {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    z-index: -1;
}

div.bottomFloat {
    position: fixed;
    bottom: 26px;
    background-color: #AAA;
/*     border: 3px solid #abad21; */
}

div.scrollmenu {
    max-height: 150px;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /*     border: 3px solid #21ad38; */
}
div.scrollmenu::-webkit-scrollbar {
  display: none;
}
.placecard {
      display: block;
      position: static;
      margin: 0px 4px 2px 4px;
      padding: 2px 2px;
  background-color: rgb(255, 255, 255);
      color: #222;
      user-select:none;
      width: 200px;
/*   border: 3px solid rgb(0, 0, 0); */
}

.no-close-button-on-info-windows .gm-ui-hover-effect { visibility: hidden; }

.bounce {
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
    0%, 20%, 40%, 60%, 80% {-webkit-transform: translateY(0);} 
    10% {-webkit-transform: translateY(-30px);}
    30% {-webkit-transform: translateY(-15px);}
    50% {-webkit-transform: translateY(-10px);}
    70% {-webkit-transform: translateY(-5px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 40%, 60%, 80% {-moz-transform: translateY(0);}
    10% {-moz-transform: translateY(-30px);}
    30% {-moz-transform: translateY(-15px);}
    50% {-moz-transform: translateY(-10px);}
    70% {-moz-transform: translateY(-5px);}
}
 
@-o-keyframes bounce {
    0%, 20%, 40%, 60%, 80% {-o-transform: translateY(0);}
    10% {-o-transform: translateY(-30px);}
    30% {-o-transform: translateY(-15px);}
    50% {-o-transform: translateY(-10px);}
    70% {-o-transform: translateY(-5px);}
}
@keyframes bounce {
    0%,20% ,40%, 60%, 80% {transform: translateY(0);}
    10% {transform: translateY(-30px);}
    30% {transform: translateY(-15px);}
    50% {transform: translateY(-10px);}
    70% {transform: translateY(-5px);}
}
.infowindow{
    /* display:inline-block; */
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    /* overflow: hidden; */
}